form {
  margin: 0 auto;
  width: 60%;
}

.app {
  background-color: #f0c5f9;
  width: 100%;
  min-height: 100vh;
}

.home {
  background-color: #f0c5f9;
  width: 100%;
  overflow: hidden;
}

.input {
  border-radius: 30px;
  color: #848383;
  height: auto;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #5C5C5C;
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:.hasValue:after,
input[type="date"].hasValue:before {
  content: "" !important;
  margin-right: 0;
}

.main {
  color: #1b0260;
  padding-top: 15%;
  font-weight: bolder;
}

.main1 {
  color: #1b0260;
  padding-top: 2%;
  font-weight: bolder;
}

.form {
  padding-top: 5%;
}

.signup-btn {
  background-color: #bd59d4;
  border: none;
  border-color: transparent;
  width: 70%;
  height: 40px;
  margin-top: 5%;
  box-shadow: 5px 5px #99c4fc;
  background: -webkit-linear-gradient(to right, #e8519e, #c77ff2);
  background: -o-linear-gradient(to right, #e8519e, #c77ff2);
  background: -moz-linear-gradient(to right, #e8519e, #c77ff2);
  background: linear-gradient(to right, #e8519e, #c77ff2);
}

.btn2 {
  background-color: #bd59d4;
  border: none;
  border-color: transparent;
  width: 40%;
  height: 40px;
  margin-top: 5%;
  margin-bottom: 3%;
  box-shadow: 5px 5px #99c4fc;
  background: -webkit-linear-gradient(to right, #e8519e, #c77ff2);
  background: -o-linear-gradient(to right, #e8519e, #c77ff2);
  background: -moz-linear-gradient(to right, #e8519e, #c77ff2);
  background: linear-gradient(to right, #e8519e, #c77ff2);
}

.googleSignUp {
  margin-top: 20%;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-signup {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-wrap: wrap;
}

.signup-more {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: calc(100% - 520px);
  background-image: url("../images/bg-01.jpg");
  position: relative;
  z-index: 1;
}

.signup-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(to bottom, #e8519e, #c77ff2);
  background: -o-linear-gradient(to bottom, #e8519e, #c77ff2);
  background: -moz-linear-gradient(to bottom, #e8519e, #c77ff2);
  background: linear-gradient(to bottom, #e8519e, #c77ff2);
  opacity: 0.8;
}


.wrap-signup {
  width: 520px;
  min-height: 100vh;
  background: #fff;
  border-radius: 2px;
  position: relative;
}

.signup-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.link1 {
  margin-top: 12%;
  font-size: 20px;
  color: #472a99;
}

.card {
  width: 40%;
  border-radius: 40px;
}

.heading {
  font-weight: bolder;
  color: #1b0260;
}

.content {
  font-size: 16px;
  color: #aaa7a7;
  font-weight: lighter;
}

.report {
  margin-top: 2%;
}
